@charset "utf-8";
@import "settings";

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family:'MuseoSans-Normal';
}

header{
  position: relative;
  background: no-repeat center / cover;
  min-height: 100vh;

  &>.wr{
    @extend %wr;
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;

    nav{
      flex-basis: 100%;
      text-align: right;
      padding-top: 24px;

      a{
        display: inline-block;
        color: white;
        font-size: 14px;
        font-family: 'MuseoSans-Bold';
        text-decoration: none;
        margin-right: 30px;
        
        &:hover, &.active{
          color: $gray_dark;

        }

      }
    }
    &>.content{
      max-width: 960px;
      margin: 0 auto;
      color: white;
      text-align: center;

      h1{
        text-transform: uppercase;
        color: $gray_light;
        font-size: 38px;
        opacity: .5;
        font-family: 'MuseoSans-Light';
      }
      h2{
        font-size: 30px;
      }
      &>.descr{
        font-size: 16px;
      }
      &>.btn{
        display: inline-block;
        background: $gray_dark;
        padding: 9px 50px;
        border-radius: 30px;
        color: white;
        text-decoration: none;
        font-size: 16px;
        margin-top: 75px;
        
        &:hover{
          background-color: lighten($gray_dark, 5%);
        }
      }
    }
  }
}
#inquire{
  background: $gray_dark;
  padding: 40px 0;

  &>.wr{
    @extend %wr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $gray_light;

    &>.btn{
      display: inline-block;
      border-radius: 30px;
      background: $red;
      padding: 7px 50px;
      text-decoration: none;
      color: white;

      &:hover{
        background-color: lighten($red, 5%);
      }
    }

  }
}